<div class="chatboxhead">
  <div class="chatboxtitle">
   <i class="fa fa-comments"></i>
   <h1> <%= @reciever.f_name %></h1>
  </div>
  <div class="chatboxoptions">
      <p> <%= link_to "<i class='fa fa-times'> ".html_safe, '#', class: "closeChat", "data-cid" => @conversation.id %></p>
      <p> <%= link_to "<i class='fa fa-times'></>".html_safe, "#", class: "closeChat" , "data-cid" => @conversation.id%></p>

      </div>
</div>
