<% provide(:title, "Users")%>
<div class="medium-12">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <% @users.each do |user|%>
            <tbody>
                <tr>
                    <td> <%= user.f_name %></td>
                    <td> <%= user.email %></td>
                    <td> <%= link_to "Send message", '#', class: "btn btn-success btn-xs start-conversation","data-sid"=> current_user.id, "data-rip" => user.id %></td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div>
