<% provide(:title, 'Home')%>
<div id="home">
    <h1>Fb-Tweet</h1>
    <p>An application combining some facebook and twitter features</p>
    <p> <%= link_to "Create an Account", new_user_path, class: "button" %></p>
</div>
