#home {
    text-align: center;
    padding-top: 160px;
}
.top-bar {
}

.user {
    margin-top: 5em;
    padding-top: 0;
}

.gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.commentcontent {
    display: block;
    margin-left: 60px;
}
.timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
}

#error_message {
    color: red;
    ul{
        color:red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors input{
     border: 2px solid red !important;
}

#messages {
    color: white;
    margin-bottom: 0;
}

#messages.alert {
     background-color: #ff2700;
}

#messages.success {
    background-color: #00cc49;
}

#messages.info {
    background-color: blue;
}

#messages.warning {
    background-color: red;
}

#messages.danger {
    background-color: red;
}

.gravatar {
     float: left;
     margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

.video {
     max-width: 100;
     height: 100;
}
