#home {
    text-align: center;
    padding-top: 160px;
}
.top-bar {

}

#error_message {
    color: red;
    ul{
        color:red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors input{
     border: 2px solid red !important;
}

#messages {
    color: white;
    margin-bottom: 0;
}

#messages.alert {
     background-color: #ff2700;
}

#messages.success {
    background-color: #00cc49;
}

#messages.info {
    background-color: blue;
}

#messages.warning {
    background-color: red;
}

#messages.danger {
    background-color: red;
}

.gravatar {
     float: left;
     margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}
